<h1>Create a new Bookmark</h1>

<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Choose a Movie", input_html: {data: {controller: "tom_select"}} %>
  <%= f.submit %>
<% end %>
