// Specific CSS for your home-page
.image-head {
  background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format);
  height: 300px;
  width: auto;
  background-position: center bottom;
  background-size: cover;

  h3 {
    color:white;
  }
  h1 {
    color:white;
  }
}
